#containerCompetences {
  color: white;
  padding: 30px;
}
.competences {
  display: flex;
  justify-content: space-around;
}

.titleCompetences {
  margin-top: 0;
  margin-bottom: 30px;
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
}
.titleTechnologies,
.titleAutres {
  text-align: center;
}
.containerTechnologies,
.containerAutres {
  width: 40%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  padding: 10px;
}
.sizeLogo {
  width: 48px;
  height: 48px;
}
.githubLogo,
.mongodb {
  height: 38px;
  width: 50px;
}
.html,
.css,
.javascript,
.sass,
.react,
.nodejs,
.photoshop,
.figma,
.github,
.postman,
.mongoDB,
.insomnia {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 20px;
}
.littleMargin {
  margin-left: 5px;
  width: 80px;
}
.barre {
  background-color: white;
  width: 70%;
  height: 25px;
  margin-right: 10px;
}
