#containerCompetences {
  color: white;
  margin: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.competences {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
h2 {
  font-size: 30px;
}
.titleCompetences {
  margin-top: 0;
  margin-bottom: 45px;
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
}
.titleLangage,
.titleAutres {
  text-align: center;
}
.containerLangage,
.containerAutres,
.framework {
  background: linear-gradient(
    45deg,
    rgba(3, 169, 244, 0.5) 0%,
    rgba(47, 47, 47, 0.5) 41%,
    rgba(244, 65, 165, 0.5) 60%,
    rgba(3, 169, 244, 0.5) 87%
  );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  padding: 10px;
}
.containerLangage {
  width: 50%;
}
.framework {
  width: 50%;
}
.langageAndFrameworks {
  display: flex;
}
.sizeLogo {
  width: 48px;
  height: 48px;
}
.githubLogo,
.wordPressLogo .mongodb {
  height: 40px;
  width: 65px;
}
.centerTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  text-align: center;
}
.littleMargin {
  margin-left: 5px;
  font-size: 20px;
}
.titleFramework {
  text-align: center;
}
.totalFrameworks,
.totalLangage,
.totalAutre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
