* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.card {
  margin: 20px;
  width: 240px;
  height: 320px;
  perspective: 1000px;
  text-align: center;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.sizeDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.centerImg {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.card-front {
  background-image: url('../assets/otysbarber1.PNG');
}
.card-front2 {
  background-image: url('../assets/kasa3.PNG');
}
.card-front3 {
  background-image: url('../assets/hot3.png');
}
.card-front4 {
  background-image: url('../assets/kanap2.PNG');
}
.card-front5 {
  background-image: url('../assets/ohmyfood2.PNG');
}
.card-front6 {
  background-image: url('../assets/panthere1.png');
}
.before:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0px;
  background: linear-gradient(0deg, black, transparent);
}
.card-front,
.card-front2,
.card-front3,
.card-front4,
.card-front5,
.card-front6,
.card-content6,
.card-content,
.card-content2,
.card-content3,
.card-content4,
.card-content5 {
  z-index: 1;
  color: white;
}
.card-front .card-content p {
  color: #ececec;
}
.card-front2 .card-content2 p {
  color: #ececec;
}
.card-front3 .card-content3 p {
  color: #ececec;
}
.card-front4 .card-content4 p {
  color: #ececec;
}
.card-front5 .card-content5 p {
  color: #ececec;
}
.card-front6 .card-content6 p {
  color: #ececec;
}
.card-back,
.card-back2,
.card-back3,
.card-back4,
.card-back5,
.card-back6 {
  transform: rotateY(180deg);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-back .card-image {
  width: 237px;
  height: 172px;
  margin: 0 auto;
  border: solid 1px #cecece;
  border-radius: 8px;
  background-size: cover;
  background-position: center center;
  background-image: url('../assets/otysbarber2.PNG');
}
.card-back2 .card-image2 {
  width: 240px;
  height: 137px;
  margin: 0 auto;
  border: solid 1px #cecece;
  border-radius: 8px;
  background-image: url('../assets/kasa1.PNG');
  background-size: cover;
  background-position: center center;
}
.card-back3 .card-image3 {
  width: 240px;
  height: 156px;
  margin: 0 auto;
  border: solid 1px #cecece;
  border-radius: 8px;
  background-image: url('../assets/hot2.PNG');
  background-size: cover;
  background-position: center center;
}
.card-back4 .card-image4 {
  width: 240px;
  height: 140px;
  margin: 0 auto;
  border: solid 1px #cecece;
  border-radius: 8px;
  background-image: url('../assets/kanap3.PNG');
  background-size: cover;
  background-position: center center;
}
.card-back5 .card-image5 {
  width: 240px;
  height: 192px;
  margin: 0 auto;
  border: solid 1px #cecece;
  border-radius: 8px;
  background-image: url('../assets/ohmyfood3.PNG');
  background-size: cover;
  background-position: center center;
}
.card-back6 .card-image6 {
  width: 240px;
  height: 154px;
  margin: 0 auto;
  border: solid 1px #cecece;
  border-radius: 8px;
  background-image: url('../assets/panthere2.PNG');
  background-size: cover;
  background-position: center center;
}
.margin p {
  margin-top: 12px;
}
.card-back .card-icons a {
  font-size: 18px;
  color: white;
  background: black;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: opacity 0.2s;
}
.card-back6 a:hover {
  cursor: pointer;
  opacity: 0.7;
}
.card-front,
.card-front2,
.card-front3,
.card-front4,
.card-front5,
.card-front6 {
  transition: opacity 0.6s;
}
.card:hover .card-front {
  opacity: 0;
}
.card6:hover .card-front6 {
  opacity: 0;
}
