$fond-rose: #f441a5;
$fond-bleu: #3232da;
$fond-bleu: #03a9f4;
$fond-gris: #ececec;
$fond-bleu-linkedin: #0077b5;

$margin-basic: 30px;

$linear-gradient: linear-gradient(90deg, #03a9f4, #f441a5, #03a9f4);
$blur: blur(21px);
$background-blur: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.1)
);

$linear-gradientBTN: linear-gradient(
  100deg,
  rgba(3, 169, 244, 0.8) 0%,
  rgba(47, 47, 47, 0.8) 41%,
  rgba(244, 65, 165, 0.8) 60%,
  rgba(3, 169, 244, 0.8) 87%
);

$linear-gradientCompetences: linear-gradient(
  45deg,
  rgba(3, 169, 244, 0.5) 0%,
  rgba(47, 47, 47, 0.5) 41%,
  rgba(244, 65, 165, 0.5) 60%,
  rgba(3, 169, 244, 0.5) 87%
);
