$fond-rose: #f441a5;
$fond-bleu: #3232da;
$fond-bleu: #03a9f4;

$margin-basic: 30px;

$linear-gradient: linear-gradient(90deg, #03a9f4, #f441a5, #03a9f4);
$blur: blur(21px);
$background-blur: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.1)
);
