/*sass --watch src/styles/scss/competences.scss src/styles/css/competences.css */

@import './mixins/mixins';
@import './placeholders/placeholders';
@import './variables/variable';

#containerCompetences {
  color: white;
  margin: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.competences {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 30px;
}
.titleCompetences {
  margin-top: 0;
  margin-bottom: 45px;
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
}
.titleLangage,
.titleAutres,
.titleBack-end,
.titleFramework {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: black;
  padding: 15px;
  border-radius: 15px;
}
.containerLangage,
.back-end,
.containerAutres,
.framework {
  background: $linear-gradientCompetences;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  padding: 10px;
}
.containerLangage,
.containerAutres,
.back-end,
.framework {
  width: 22%;
}
.overFlash:hover {
  -webkit-box-shadow: 12px -5px 15px 5px #80c7ff, 12px 10px 15px 7px #e488ff,
    -10px -7px 27px 1px #8e5cff, 0px 0px 15px 7px rgba(0, 0, 0, 0),
    0px 0px 30px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 12px -5px 15px 5px #80c7ff, 12px 10px 15px 7px #e488ff,
    -10px -7px 27px 1px #8e5cff, 0px 0px 15px 7px rgba(0, 0, 0, 0),
    0px 0px 30px 10px rgba(0, 0, 0, 0.22);
}
.langageAndFrameworks {
  display: flex;
  justify-content: space-evenly;
}
.sizeLogo,
.wordPressLogo {
  width: 48px;
  height: 48px;
}
.githubLogo {
  height: 40px;
  width: 65px;
}
.mongodb {
  width: 65px;
  height: 45px;
}
.centerTotal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.littleMargin {
  margin-left: 5px;
  font-size: 20px;
}
.totalFrameworks,
.totalLangage,
.totalBack-end,
.totalAutre {
  @extend %flex-wrapcenter;
}
.progress-bar {
  display: flex;
  justify-content: center;
}

/* Responsive Tablette */
@media screen and (max-width: 1024px) {
  #containerCompetences {
    margin: 5px;
  }
  .competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .containerLangage,
  .containerAutres,
  .framework,
  .back-end {
    width: 40%;
    margin-bottom: 10px;
  }
}

/* Responsive Téléphone */
@media screen and (max-width: 425px) {
  .progress-bar {
    width: 20px !important;
  }

  .titleAutres,
  .titleBack-end,
  .titleFramework,
  .titleLangage {
    font-size: 15px;
    border-radius: 30px;
  }
}
/* Responsive Téléphone */
@media screen and (max-width: 365px) {
  .containerLangage,
  .containerAutres,
  .framework,
  .back-end {
    padding: 0;
  }
}
@import './keyframes/keyframes';
