@import './mixins/mixins';
@import './placeholders/placeholders';
@import './variables/variable';

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  .containerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    .textAndEmail {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
.titleContact {
  font-size: 24px;
  color: white;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pContact {
  color: white;
  font-size: 20px;
  margin-bottom: 45px;
}
h4 {
  font-size: 30px;
}
.btnEmail {
  background: rgb(3, 169, 244);
  background: $linear-gradientBTN;
  border-radius: 11px;
  box-shadow: 0 1px #444444;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 20px/1 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
}
.btnEmail:hover {
  animation: rotationColor 0.8s linear infinite both;
}

.socialMedia {
  width: 50%;
  margin-bottom: 50px;
  .trouvezMoi {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .linkedin {
    background-color: $fond-bleu-linkedin;
  }
  .logoLinkedin,
  .logoGithub {
    padding: 15px;
    width: 70px;
    height: 70px;
  }
}
.linkedin,
.githubContact {
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.githubContact {
  background-color: black;
  color: white;
}
.logoGithub {
  border-radius: 15px;
  width: 65px;
}

.enveloppe {
  width: 40px;
  margin-bottom: 15px;
  animation: scaling 0.5s infinite alternate linear;
}

@import './keyframes/keyframes';

/*------------------------------------------------------*/
