@font-face {
  font-family: 'JosefinSlab';
  src: url(../fonts/JosefinSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Didot';
  src: url(../fonts/GFSDidot-Regular.ttf);
}

footer {
  color: white;
  background-image: url(../../assets/wave.svg);
  background-size: cover;
  height: 14.625rem;
}
.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  margin: 0px 10px 0px 10px;
}
.adresseNom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.nameFooter {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: JosefinSlab;
}
.firstP,
.copyright {
  font-family: Didot;
}

/* Responsive fin Tablette */
@media screen and (max-width: 483px) {
  .containerFooter {
    flex-direction: column;
    .adresseNom {
      margin-bottom: 0px;
    }
    .firstP,
    .secondP {
      text-align: center;
    }
  }
}

/* Responsive Téléphone */
@media screen and (max-width: 425px) {
  .containerFooter {
    flex-direction: column;
    text-align: center;
    .firstP,
    .secondP {
      font-size: 15px;
    }
  }
}
