/*sass --watch src/styles/scss/quisuisje.scss src/styles/css/quisuisje.css */
@import './mixins/mixins';
@import './placeholders/placeholders';
@import './variables/variable';

#quiSuisJe {
  color: white;
  text-align: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 100px;
  .containerQuiSuisJe {
    width: 50%;
    .titleQuiSuisJe {
      margin: 0px;
      font-size: 24px;
      text-decoration: underline;
    }
    .pQuiSuisJe {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 40px;
      position: relative;
      z-index: 7;
      line-height: 35px;
    }
    .btnCV {
      background: rgb(3, 169, 244);
      background: $linear-gradientBTN;
      border-radius: 11px;
      box-shadow: 0 1px #444444;
      padding: 20px 45px;
      color: #ffffff;
      display: inline-block;
      font: normal bold 20px/1 'Open Sans', sans-serif;
      text-align: center;
      text-shadow: 1px 1px #000000;
      cursor: pointer;
    }
    .btnCV:hover {
      animation: rotationColor 0.8s linear infinite both;
    }
  }
}
.CV {
  width: 50%;
  .photoCv {
    width: 50%;
  }
}
.photoCv:hover {
  -webkit-box-shadow: -10px 0px 13px -7px white, 10px 0px 13px -7px white,
    0px 0px 33px 18px rgba(0, 0, 0, 1);
  box-shadow: -10px 0px 13px -7px #123650, 10px 0px 13px -7px #123650,
    0px 0px 33px 18px rgba(196, 196, 196, 1);
}
.iconeFlecheQuiSuisJe {
  position: absolute;
  bottom: 5%;
  left: 48%;
  .arrow {
    font-size: 50px;
  }
}
.header,
.finisher-header {
  width: 100%;
  height: 300px;
}

h1 {
  font-size: 30px;
}

/* ------ Animation Qui suis je ----*/
.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ------------------- */

/* Responsive Tablette */
@media screen and (max-width: 1059px) {
  .CV {
    display: none;
    .photoCv {
      display: none;
    }
  }
  #quiSuisJe {
    margin-left: 5px !important;
    margin-right: 5px !important;
    .pQuiSuisJe {
      font-size: 20px;
    }
    h1 {
      font-size: 30px;
    }
  }
  .iconeFlecheQuiSuisJe {
    bottom: 10%;
    .arrow {
      font-size: 40px;
    }
  }
  .containerQuiSuisJe {
    margin-left: 5px;
    margin-right: 5px;
    width: 100% !important;
  }
}
/* Responsive Téléphone */
@media screen and (max-width: 519px) {
  .pQuiSuisJe {
    font-size: 15px !important;
  }
  .iconeFlecheQuiSuisJe {
    bottom: 5%;
    left: 44%;
    .arrow {
      font-size: 42px;
    }
  }
}

@import './keyframes/keyframes';
