@charset "UTF-8";
/*sass --watch src/styles/scss/realisations.scss src/styles/css/realisations.css */
.card-back .card-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back6 .card-image6, .card-back5 .card-image5, .card-back4 .card-image4, .card-back3 .card-image3, .card-back2 .card-image2, .card-back .card-image {
  margin: 0 auto;
  border: solid 1px #cecece;
  border-radius: 8px;
  background-size: cover;
  background-position: center center;
}

@font-face {
  font-family: "JosefinSlab";
  src: url(../fonts/JosefinSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Didot";
  src: url(../fonts/GFSDidot-Regular.ttf);
}
#realisations-Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
#realisations-Title .titleRealisations {
  font-family: JosefinSlab;
  font-size: 24px;
  margin-bottom: 45px;
  color: white;
  text-decoration: underline;
}
#realisations-Title .containerRealisations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  background: rgb(3, 169, 244);
  background: linear-gradient(45deg, rgba(3, 169, 244, 0.5) 0%, rgba(47, 47, 47, 0.5) 41%, rgba(244, 65, 165, 0.5) 60%, rgba(3, 169, 244, 0.5) 87%);
  border-radius: 30px;
  margin: 0px 30px 0px 30px;
}
#realisations-Title .containerRealisations .card {
  margin: 20px;
  width: 240px;
  height: 320px;
  perspective: 1000px;
  text-align: center;
}
#realisations-Title .containerRealisations .card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

h3 {
  font-size: 35px;
}

* {
  margin: 0;
  padding: 0;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.sizeDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.centerImg {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.card-front {
  background-image: url("../../assets/otysbarber1.PNG");
}

.card-front2 {
  background-image: url("../../assets/kasa3.PNG");
}

.card-front3 {
  background-image: url("../../assets/hot3.png");
}

.card-front4 {
  background-image: url("../../assets/kanap2.PNG");
}

.card-front5 {
  background-image: url("../../assets/ohmyfood2.PNG");
}

.card-front6 {
  background-image: url("../../assets/panthere1.png");
}

.before:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0px;
  background: linear-gradient(0deg, black, transparent);
}

.card-front,
.card-front2,
.card-front3,
.card-front4,
.card-front5,
.card-front6,
.card-content6,
.card-content,
.card-content2,
.card-content3,
.card-content4,
.card-content5 {
  z-index: 1;
  color: white;
  font-family: Didot;
  color: #ececec;
}

.titleCardRealisation {
  font-family: JosefinSlab;
}

.card-back,
.card-back2,
.card-back3,
.card-back4,
.card-back5,
.card-back6 {
  transform: rotateY(180deg);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content-back {
  font-family: Didot;
}

.card-back .card-image {
  width: 237px;
  height: 172px;
  background-image: url("../../assets/otysbarber3.PNG");
}

.card-back2 .card-image2 {
  width: 240px;
  height: 137px;
  background-image: url("../../assets/kasa1.PNG");
}

.card-back3 .card-image3 {
  width: 240px;
  height: 156px;
  background-image: url("../../assets/hot2.PNG");
}

.card-back4 .card-image4 {
  width: 240px;
  height: 140px;
  background-image: url("../../assets/kanap3.PNG");
}

.card-back5 .card-image5 {
  width: 240px;
  height: 192px;
  background-image: url("../../assets/ohmyfood3.PNG");
}

.card-back6 .card-image6 {
  width: 240px;
  height: 154px;
  background-image: url("../../assets/panthere2.PNG");
}

.margin p {
  margin-top: 12px;
}

.card-back .card-icons a {
  font-size: 18px;
  color: white;
  background: black;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin: 8px;
  text-decoration: none;
  transition: opacity 0.2s;
}

.card-back6 a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card-front,
.card-front2,
.card-front3,
.card-front4,
.card-front5,
.card-front6 {
  transition: opacity 0.6s;
}

.card:hover .card-front {
  opacity: 0;
}

.card6:hover .card-front6 {
  opacity: 0;
}

/* Responsive Téléphone */
@media screen and (max-width: 375px) {
  .card-image,
.card-image2,
.card-image3,
.card-image4,
.card-image5,
.card-image6 {
    width: 220px !important;
  }
}
/* Responsive Téléphone */
@media screen and (max-width: 320px) {
  .card-image,
.card-image2,
.card-image3,
.card-image4,
.card-image5,
.card-image6 {
    width: 187px !important;
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
/*----------------QuiSuisJe--------------------------*/
@keyframes rotationColor {
  from, to {
    background: linear-gradient(0deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  10% {
    background: linear-gradient(36deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  20% {
    background: linear-gradient(72deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  30% {
    background: linear-gradient(108deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  40% {
    background: linear-gradient(144deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  50% {
    background: linear-gradient(180deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  60% {
    background: linear-gradient(216deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  70% {
    background: linear-gradient(252deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  80% {
    background: linear-gradient(288deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  90% {
    background: linear-gradient(324deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
  100% {
    background: linear-gradient(360deg, rgba(3, 169, 244, 0.8) 0%, rgba(47, 47, 47, 0.8) 41%, rgba(244, 65, 165, 0.8) 60%, rgba(3, 169, 244, 0.8) 87%);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* ------------------------------------------------*/
@keyframes scaling {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

/*# sourceMappingURL=realisations.css.map */
